<h1>Kinmu#update</h1>
<%=@result%>
<%= link_to "input screen", :controller => "kinmu", :action => "input" %>
<%= link_to "show", :controller => "kinmu", :action => "show" %>
<p>Find me in app/views/kinmu/update.html.erb</p>
